wildflycxfspring/src/main/resources/archetype-resources/interfaces/src/main/resources/wsdl/dk.emstar.example.ear.ws.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
    JAX-WS RI 2.1.6 in JDK 6. -->
<xs:schema xmlns:tns='http://webservice.emstar.dk/example'
    xmlns:xs='http://www.w3.org/2001/XMLSchema' version='1.0'
    targetNamespace='http://webservice.emstar.dk/example'>

    <xs:element name='greet' type='tns:greet'/>
    <xs:element name='greetResponse' type='tns:greetResponse'/>

    <xs:complexType name='greet'>
        <xs:sequence>
            <xs:element name='navn' type="xs:string" minOccurs='0'/>
            <xs:element name='time' type="xs:dateTime" minOccurs='0'/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name='greetResponse'>
        <xs:sequence>
            <xs:element name='return' type='xs:string' minOccurs='0'/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>