wildflycxfspring/src/main/resources/archetype-resources/interfaces/src/main/resources/wsdl/dk.emstar.example.greeting.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:xs='http://www.w3.org/2001/XMLSchema' xmlns='http://schemas.xmlsoap.org/wsdl/'
    xmlns:tns='http://example.emstar.dk/greeting' xmlns:hdr='http://example.emstar.dk/header' targetNamespace='http://example.emstar.dk/greeting'
    name='GreetService'>

    <types>
        <xs:schema>
            <xs:import namespace='http://example.emstar.dk/greeting' schemaLocation='dk.emstar.example.greeting.xsd' />
        </xs:schema>
        <xs:schema>
            <xs:import namespace='http://example.emstar.dk/header' schemaLocation='dk.emstar.example.header.xsd' />
        </xs:schema>
    </types>
    <message name='greet'>
        <part name='request_header' element='hdr:requestHeader' />
        <part name='request' element='tns:greet'></part>
    </message>
    <message name='greetResponse'>
        <part name='response' element='tns:greetResponse'></part>
    </message>
    <message name='sendMessageUsingInterfaceRequest'>
        <part name='request' element='tns:sendMessageUsingInterface'></part>
    </message>
    <message name='sendMessageUsingInterfaceResponse'>
        <part name='response' element='tns:sendMessageUsingInterfaceResponse'></part>
    </message>
    <message name='sendMessageUsingAdapterRequest'>
        <part name='request' element='tns:sendMessageUsingAdapter'></part>
    </message>
    <message name='sendMessageUsingAdapterResponse'>
        <part name='response' element='tns:sendMessageUsingAdapterResponse'></part>
    </message>
    <message name='createUserRequest'>
        <part name='parameters' element='tns:createUser'></part>
    </message>
    <message name='createUserResponse'>
        <part name='parameters' element='tns:createUserResponse'></part>
    </message>
    <message name='createUserBMTRequest'>
        <part name='parameters' element='tns:createUserBMT'></part>
    </message>
    <message name='createUserBMTResponse'>
        <part name='parameters' element='tns:createUserBMTResponse'></part>
    </message>
    <message name='createUserCrudRequest'>
        <part name='parameters' element='tns:createUserCrud'></part>
    </message>
    <message name='createUserCrudResponse'>
        <part name='parameters' element='tns:createUserCrudResponse'></part>
    </message>
    <portType name='GreetService'>
        <operation name='greet'>
            <input message='tns:greet'></input>
            <output message='tns:greetResponse'></output>
        </operation>
        <operation name='sendMessageUsingInterface'>
            <input message='tns:sendMessageUsingInterfaceRequest'></input>
            <output message='tns:sendMessageUsingInterfaceResponse'></output>
        </operation>
        <operation name='sendMessageUsingAdapter'>
            <input message='tns:sendMessageUsingAdapterRequest'></input>
            <output message='tns:sendMessageUsingAdapterResponse'></output>
        </operation>
        <operation name='createUser'>
            <input message='tns:createUserRequest'></input>
            <output message='tns:createUserResponse'></output>
        </operation>
        <operation name='createUserBMT'>
            <input message='tns:createUserBMTRequest'></input>
            <output message='tns:createUserBMTResponse'></output>
        </operation>
        <operation name='createUserCrud'>
            <input message='tns:createUserCrudRequest'></input>
            <output message='tns:createUserCrudResponse'></output>
        </operation>
    </portType>
    <binding name='GreetServicePortBinding' type='tns:GreetService'>
        <soap:binding transport='http://schemas.xmlsoap.org/soap/http' style='document'></soap:binding>
        <operation name='greet'>
            <soap:operation soapAction=''></soap:operation>
            <input>
                <soap:header message='tns:greet' part='request_header' use='literal' />
                <soap:body use='literal'></soap:body>
            </input>
            <output>
                <soap:body use='literal'></soap:body>
            </output>
        </operation>
        <operation name='sendMessageUsingInterface'>
            <soap:operation soapAction=''></soap:operation>
            <input>
                <soap:body use='literal'></soap:body>
            </input>
            <output>
                <soap:body use='literal'></soap:body>
            </output>
        </operation>
        <operation name='sendMessageUsingAdapter'>
            <soap:operation soapAction=''></soap:operation>
            <input>
                <soap:header message='tns:greet' part='request_header' use='literal' />
                <soap:body use='literal'></soap:body>
            </input>
            <output>
                <soap:body use='literal'></soap:body>
            </output>
        </operation>
        <operation name='createUser'>
            <soap:operation soapAction=''></soap:operation>
            <input>
                <soap:header message='tns:greet' part='request_header' use='literal' />
                <soap:body use='literal'></soap:body>
            </input>
            <output>
                <soap:body use='literal'></soap:body>
            </output>
        </operation>
        <operation name='createUserBMT'>
            <soap:operation soapAction=''></soap:operation>
            <input>
                <soap:header message='tns:greet' part='request_header' use='literal' />
                <soap:body use='literal'></soap:body>
            </input>
            <output>
                <soap:body use='literal'></soap:body>
            </output>
        </operation>
        <operation name='createUserCrud'>
            <soap:operation soapAction=''></soap:operation>
            <input>
                <soap:header message='tns:greet' part='request_header' use='literal' />
                <soap:body use='literal'></soap:body>
            </input>
            <output>
                <soap:body use='literal'></soap:body>
            </output>
        </operation>
        
    </binding>
    <service name='GreetServiceService'>
        <port name='GreetServicePort' binding='tns:GreetServicePortBinding'>
            <soap:address location='http://localhost:8080/'></soap:address>
        </port>
    </service>
</definitions>